<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
    <link rel="stylesheet" href="../../styles/common.css"/>
    <link rel="stylesheet" href="../../styles/page.css"/>
</head>
<body>
<div class="addBrand-container" id="member-add-app">
    <div class="container">
        <el-form
                ref="ruleForm"
                :model="ruleForm"
                :rules="rules"
                :inline="false"
                label-width="180px"
                class="demo-ruleForm"
        >
            <el-form-item label="原密码" prop="password">
                <el-input v-model="ruleForm.password" placeholder="请输入原密码"
                          maxlength="20"></el-input>
            </el-form-item>
            <el-form-item label="新密码" prop="newpassword">
                <el-input v-model="ruleForm.newpassword" placeholder="请输入新密码"
                          maxlength="20"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="repassword">
                <el-input v-model="ruleForm.repassword" placeholder="请确认新密码"
                          maxlength="20"></el-input>
            </el-form-item>
                <div class="subBox address">
                    <el-form-item>
                        <el-button @click="goBack()">
                            取消
                        </el-button>
                        <el-button
                                type="primary"
                                @click="submitForm('ruleForm', false)"
                        >
                            确定
                        </el-button>
                    </el-form-item>
                </div>
        </el-form>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/member.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
<script>
    new Vue({
        el: '#member-add-app',
        data() {
            return {
                id: '',
                ruleForm: {
                    password: '',
                    newpassword: '',
                    repassword: '',
                },
                memberInfo: {},
            }
        },
        computed: {
            rules() {
                const validatePassword = (rule, value, callback) => {
                    const self = this;
                    if (value.length>=6) {
                        const md5 = CryptoJS.MD5(value).toString();
                        console.log(md5,self.memberInfo.password,md5===self.memberInfo.password); // 输出MD5加密后的字符串
                        if (md5 !== self.memberInfo.password) {
                            callback(new Error('原密码错误'))
                        } else {
                            callback()
                        }
                    }
                    if (value.length < 1) {
                        callback(new Error('原密码不能为空'))
                    } else if (value.length < 6) {
                        callback(new Error('密码必须在6位以上'))
                    } else {
                        callback()
                    }
                }
                const validateNewPassword = (rule, value, callback) => {
                    if (value.length < 6) {
                        callback(new Error('密码必须在6位以上'))
                    } else {
                        callback()
                    }
                }
                const validateRePassword = (rule, value, callback) => {
                    if (value.length < 6) {
                        callback(new Error('密码必须在6位以上'))
                    } else if (this.ruleForm.newpassword !== value){
                        callback(new Error('两次密码不一致'))
                    } else {
                        callback()
                    }
                }
                return {
                    password: [
                        {
                            required: true,
                            validator: validatePassword,
                            trigger: "blur"
                        }
                    ],
                    newpassword: [
                        {
                            required: true,
                            validator: validateNewPassword,
                            trigger: "blur"
                        }
                    ],
                    repassword: [
                        {
                            required: true,
                            validator: validateRePassword,
                            trigger: "blur"
                        }
                    ]
                }
            }
        },
        created() {
            this.id = requestUrlParam('id')
            if (this.id) {
                this.init()
            }
        },
        mounted() {
        },
        methods: {
            async init() {
                queryEmployeeById(this.id).then(res => {
                    console.log(res)
                    if (String(res.code) === '1') {
                        console.log(res.data)
                        this.memberInfo = res.data;
                        // this.ruleForm.password = ''
                    } else {
                        this.$message.error(res.msg || '操作失败')
                    }
                })
            },
            submitForm(formName, st) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.memberInfo.password = CryptoJS.MD5(this.ruleForm.newpassword).toString();
                        const params = {
                            ...this.memberInfo,
                        }
                        editEmployee(params).then(res => {
                            if (res.code === 1) {
                                console.log(res)
                                this.$message.success('修改密码成功！')
                                this.goBack()
                            } else {
                                this.$message.error(res.msg || '操作失败')
                            }
                        }).catch(err => {
                            this.$message.error('请求出错了：' + err)
                        })
                    } else {
                        console.log('error submit!!')
                        return false
                    }
                })
            },
            goBack() {
                window.parent.menuHandle({
                    id: '2',
                    url: '/backend/page/member/list.html',
                    name: '员工管理'
                }, false)
            }
        }
    })

</script>
</body>
</html>