.title-index .month {
    box-sizing: border-box;
    display: inline-block;
    background-color: #fff;
}

.title-index .month ul {
    width: 400px;
    height: 40px;
    line-height: 38px;
    border: 1px solid #e5e4e4;
    border-radius: 4px;
    padding: 0;
    display: flex;
    text-align: center;
    margin: 0;
}

.title-index .month ul li {
    position: relative;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #e5e4e4;
    color: #333333;
    letter-spacing: -0.2px;
    flex: 1;
}

.title-index .month ul li:last-child {
    border: 0 none;
}

.title-index .month ul li.active {
    height: 38px;
    background: #ffc200;
}
.get-time {
    display: inline-block;
    padding-left: 15px;
    font-size: 14px;
    color: #666;
}
.right-el-button {
    color: #333;
    height: 40px;
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #E5E4E4;
    float: right;
}
.right-el-button:focus {
    background: #fff;
    border: 1px solid #E5E4E4;
}
.right-el-button.onbutton {
    border: 1px solid #E5E4E4;
    color: #E5E4E4;
}
.right-el-button:hover {
    background: #fff;
}
.right-el-button.is-disabled:hover {
    border: 1px solid #E5E4E4;
    color: #E5E4E4;
}